html {
	background: #7670bf;
	font: 20px 'Gloria Halleluja', cursive;
	color: black;
}
body {
	text-align: center;
}
h1 {
	font-size: 3em;
}
.scores {
	display: flex;
	justify-content: center;
	z-index: 10;
}
.scores div {
	display: flex;
	flex-flow: column;
	justify-content: space-evenly;
	border: 1px solid black;
	background: #B9BF70;
	margin: 0px 20px;
	min-width: 185px;
	min-height: 185px;
}
.scores div p {
	margin: 0;
}
.score {
	font-family: 'Roboto Mono', monospace;
	font-size: 3em;
	color: white;
}
.result {
	width: 70px;
}
.buttons {
	display: flex;
	justify-content: center;
}
.buttons div {
	display: flex;
	flex-flow: column;
	margin: 0 20px;
}
img {
	height: 175px;
}
.endgame {
	position: absolute;
	height: 60%;
	width: 100%;
	top: 40%;
	left: 0;
	display: flex;
	flex-flow: column;
	justify-content: flex-start;
	align-items: center;
	margin-top: 5vh;
	z-index: 5;
	background: #7670bf;
}
.endgame .announcement {
	font-size: 3em;
	margin: 0 0 7vh 0;
}
.endgame button {
	height: 5vh;
	min-width: 15vw;
	font-family: 'Gloria Halleluja', cursive;
	font-size: 0.8rem;
	border: 1px solid black;
	border-radius: 7px;
}
.hidden {
	visibility: hidden;
}
.buttons div:hover {
	background-color: #706d94;
	border-color: #ffc600;
	box-shadow: 0 0 1rem #ffc600;
}
.playerChoice {
	background-color: #706d94;
	border-color: #ffc600;
	box-shadow: 0 0 1rem #ffc600;
}
.compChoice {
	background-color: #706d94;
	border-color: #e60b26;
	box-shadow: 0 0 1rem #e60b26;
}